{{!-- <html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
      </div>
      <a href="/orders" class="btn btn-primary">View orders</a>
    </body>
</html> --}}


<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

   <style media="screen">
     
     .alert {
       background: #f8d7da;
       padding: 5px 10px;
       border-radius: 8px;
     }
       .animation-ctn{
           text-align:center;
           margin: 5em auto;
       }

       @-webkit-keyframes checkmark {
       0% {
           stroke-dashoffset: 100px
       }

       100% {
           stroke-dashoffset: 200px
       }
       }

       @-ms-keyframes checkmark {
       0% {
           stroke-dashoffset: 100px
       }

       100% {
           stroke-dashoffset: 200px
       }
       }

       @keyframes checkmark {
       0% {
           stroke-dashoffset: 100px
       }

       100% {
           stroke-dashoffset: 0px
       }
       }

       @-webkit-keyframes checkmark-circle {
       0% {
           stroke-dashoffset: 480px

       }

       100% {
           stroke-dashoffset: 960px;

       }
       }

       @-ms-keyframes checkmark-circle {
       0% {
           stroke-dashoffset: 240px
       }

       100% {
           stroke-dashoffset: 480px
       }
       }

       @keyframes checkmark-circle {
       0% {
           stroke-dashoffset: 480px
       }

       100% {
           stroke-dashoffset: 960px
       }
       }

       @keyframes colored-circle {
       0% {
           opacity:0
       }

       100% {
           opacity:100
       }
       }

       /* other styles */
       /* .svg svg {
       display: none
       }
       */
       .inlinesvg .svg svg {
       display: inline
       }

       /* .svg img {
       display: none
       } */

       .icon--order-success svg polyline {
       -webkit-animation: checkmark 0.3s ease-in-out 0.9s backwards;
       animation: checkmark 0.3s ease-in-out 0.9s backwards
       }

       .icon--order-success svg circle {
       -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
       animation: checkmark-circle 0.6s ease-in-out backwards;
       }
       .icon--order-success svg circle#colored {
       -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
       animation: colored-circle 0.6s ease-in-out 0.7s backwards;
       }
   </style>

   <div class="animation-ctn">
         <div class="icon icon--order-success svg">
           <svg xmlns="http://www.w3.org/2000/svg" width="154px" height="154px">
               <g fill="none" stroke="#22AE73" stroke-width="2">
                 <circle cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                 <circle id="colored" fill="#22AE73" cx="77" cy="77" r="72" style="stroke-dasharray:480px, 480px; stroke-dashoffset: 960px;"></circle>
                 <polyline class="st0" stroke="#fff" stroke-width="10" points="43.5,77.8 63.7,97.9 112.2,49.4 " style="stroke-dasharray:100px, 100px; stroke-dashoffset: 200px;"/>
               </g>
           </svg>
       </div>
       <br />
       <h2>Order Success</h2>
     <p>Ref Id: 9034333842</p>
    <a href="/"> <p> HOME</p></a>
   <a href="/orders">  <span class="alert"><b>VIEW ORDER</b> </span></a>
   </div>